KALTURA_SERVICE_URL=https://www.kaltura.com
KALTURA_ADMIN_SECRET= #obtained from https://kmc.kaltura.com/index.php/kmcng/settings/integrationSettings
KALTURA_PARTNER_ID=#obtained from https://kmc.kaltura.com/index.php/kmcng/settings/integrationSettings
KALTURA_USER_ID=#Set to your real user IDs for analytics and entitlements tracking
KALTURA_UICONF_ID=#https://kmc.kaltura.com/index.php/kmcng/studio/v2
APP_DOMAIN=#your app domain for tracking purposes.
SESSION_SECRET=#Random String, key used for encrypting session cookies