<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Analytics Loader</title>
    <link rel="stylesheet" href="stylesheets/kaltura-theme.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
        * {
            font-size: 30px;
            margin: 10px;
        }
    </style>
</head>

<body>
    <h1>Kaltura Embeddable Analytics Demos</h1>
    <ol>
        <li><a href="/minimal.ejs">Minimal Example with menu</a></li>
        <li><a href="/singleEntry.ejs">Single Content Entry</a></li>
        <li><a href="/singleView.ejs">Single View</a></li>
        <li><a href="/selectiveElements.ejs">Selective UI Elements</a></li>
        <li><a href="/indexCustom.ejs">Custom Menu</a></li>
    </ol>
</body>

</html>